.about {
    padding: 62px 0;
}

.about__title {
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    max-width: 700px;
    margin: 0 0 24px;
}
.about__description {
    line-height: 150%;
    max-width: 700px;
    margin: 0 0 72px;

}
.about__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 384px);
    gap: 24px 32px;

}
.about__item {
    padding: 6px 6px 6px 96px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px;


}

.about__item_top {
    background-image: url(..images/top.svg);
}
.about__item_master {
    background-image: url(..images/master.svg);
}
.about__item_guarantee {
    background-image: url(..images/guarantee.svg);
}

.about__item-title {
    margin: 0 0 8px;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    
}
.about__title-description {
    margin: 0;
    line-height: 130%;
}

