@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v28-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/raleway-v28-latin_cyrillic-regular.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
}

body {
  min-width: 320px;
  background-color: #f6f6f6;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  font-feature-settings: "pnum" on, "lnum" on;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 1312px;
  padding: 0 48px;
  margin: 0 auto;
}

@media (max-width: 560px) {
  .container {
    padding: 0 24px;
  }
}
